<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankingsystem">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankingSystem"
        android:usesCleartextTraffic="true">
        <activity android:name="view.HistoryPage"></activity>
        <activity android:name="view.TransferPage" />
        <activity android:name="view.WithdrawPage" />
        <activity android:name="view.DepositPage" />
        <activity android:name="view.CloseAccountPage" />
        <activity android:name="view.OpenAccountPage" />
        <activity android:name="view.UserBankingAccountPage" />
        <activity android:name="view.UserSignIn" />
        <activity android:name="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>